@import './../../assets//scss/base.scss';
.primary{
    @include btnPrimary(auto, $deepsea, $white, .4rem 1rem);
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
.secondary{
    @include btnPrimary(auto, $treepoppy, $white, .4rem 1rem);
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
.delete{
    @include btnPrimary(auto, $monza, $white, .4rem 1rem);
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

